.gallery-heading{

}

.image-gallery{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}


.image-gallery section {
 display: flex; 
 flex-direction: column;
 gap: 10px; 
} 

.image-item img {
    object-fit: cover;
    border-radius: 5px;
    height: 100%;
    width: 100%;

}

